@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Auto Juhiloa Taoutlus</h1>
    <p>Tere tulemast auto juhiloa taoutlusele! <a asp-controller="Driving_Exam" asp-action="Register">Registreerige siit!</a> </p>
</div>
