@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Car Driver's License Application</h1>
    <p>Welcome to Primary Driver's License Application! <a asp-controller="Driving_Exam" asp-action="Register">Register Here!</a> </p>
</div>
