@model EsmaneJuhilubaTARpe21JÕ.Models.Driving_Exam

@{
    ViewData["Title"] = "Register";
}

<h1>Register</h1>

<h4>For Exam</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Register">

            <h3>Student</h3>
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Firstname" class="control-label"></label>
                <input asp-for="Firstname" class="form-control" />
                <span asp-validation-for="Firstname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Lastname" class="control-label"></label>
                <input asp-for="Lastname" class="form-control" />
                <span asp-validation-for="Lastname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Age" class="control-label"></label>
                <input asp-for="Age" class="form-control" />
                <span asp-validation-for="Age" class="text-danger"></span>
            </div>

            <h3>Teacher</h3>
            <div class="form-group">
                <label asp-for="TeacherFirstname" class="control-label"></label>
                <input asp-for="TeacherFirstname" class="form-control" />
                <span asp-validation-for="TeacherFirstname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TeacherLastname" class="control-label"></label>
                <input asp-for="TeacherLastname" class="form-control" />
                <span asp-validation-for="TeacherLastname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TeachersCertificateNumber" class="control-label"></label>
                <input asp-for="TeachersCertificateNumber" class="form-control" />
                <span asp-validation-for="TeachersCertificateNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Register" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Issued_Licenses">Back to License List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}